.Note {
  flex-grow: 1;
  padding: 0px 30px;
}

.Note-title {
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
  font-size: 26px;
  border: none;
  outline: none;
  resize: none;
}

.Note-content {
  margin-top: 20px;
  width: 100%;
  max-width: 100%;
  resize: vertical;
  min-height: 300px;
  font-size: 18px;
  outline: none;
  border: 1px solid LightGrey;
  padding: 5px;
  box-sizing: border-box;
}
